
/* Home and some universal*/

.main-index {
    padding-top: 20px;
    padding-left: 10px;
}

footer {
    position: fixed;
    background-color: #1a1a1a;
    bottom: 0px;
    text-align: center;
    color: white;
    height: 50px;
    width: 1111px;
    padding-left: -5px;
}

.text {
    padding-top: 15px;
}

/* Bookings */